.layout > .container{
    margin-top: -20px;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    background-color: #c0b5a1;
    background-color: rgba(34,17,7,0.25);
}
.main{
    /* background-color: #f5f5f5; */
    min-height: 550px;
    width: 100%;
    overflow: hidden;
}
.main-left,
.main-right,
.main-center{
    float: left;
    padding-bottom: 99999px;
    margin-bottom: -99999px;
}
.main-left{
    width: 150px;
    /* background-color: #f00; */
    margin-left: -100%;
}
.main-right{
    width: 200px;
    margin-left: -200px;
    /* background-color: #0f0; */
}
.main-center{
    width: 100%;
}
.main-inner{
    margin-left: 150px;
    margin-right: 200px;
    min-width: 600px;
    /* background-color: #00f; */
    padding-bottom: 99999px;
    margin-bottom: -99999px;
}

/* 左侧菜单 */
.list-menu li a{
    display: block;
    padding: 10px 15px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
.list-menu li a:hover{
    background-color: #f5f5f5;
    color: #666;
}
.hr{
    background-color: #fff;
    height: 1px;
}

/* 右侧profile */
.profile {
    background:  url(/static/img/profile_bg.jpg) no-repeat;
    position: relative;
    background-color: #fff;
    padding-top: 78px;
    padding-bottom: 10px;
    margin-right: 10px;
}
.profile .headimg{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 48px;
    margin-left: -30px;
    border-radius: 50%;
    overflow: hidden;
}
.profile .headimg img{
    width: 60px;
    height: 60px;
}
.profile .info {
    text-align:  center;
    margin-top: 40px;
    margin-bottom: 10px;
}
.profile .info span{
    background-color: #fca27e;
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 12px;
}
/* tips */
.profile .tips{
    text-align: center;
}
.profile .tips li{
    width: 60px;
    text-align: center;
    border-right: 1px solid #ccc;
}
.profile .tips li:last-child{
    border-width: 0;
}
.profile .tips li a{
    text-decoration: none;
}
.profile .tips li span,
.profile .tips li strong{
    display: block;
    font-size: 14px;
    color: #666;
}
.profile .tips li span{
    font-size: 12px;
}

/* 右侧热门话题 */
.hot-topic{
    margin: 10px 10px 0 0;
    background-color: #fff;
}
.hot-topic a{
    color: #666;
    text-decoration: none;
}
.hot-topic .list-topic{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
}
.hot-topic .topic-header,
.hot-topic .topic-footer{
    padding: 5px 10px;
}
/* weibo */
.form-weibo{
    padding: 0 10px 0 0;
}
.form-weibo .form-inner{
    background-color: #fff;
    padding: 10px;
}
.form-weibo textarea{
    width: 100%;
    height: 80px;
}

/* 微博列表 */
.list-weibo{
    padding: 10px 10px 10px 0;
}
.item-weibo{
    background-color: #fff;
    margin-bottom: 10px;
}
.item-weibo .weibo-top{
    padding: 10px;
}
.item-weibo .weibo-left{
    width: 60px;
    float: left;
}
.item-weibo .weibo-left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.item-weibo .weibo-right{
    margin-left: 60px;
}
.item-weibo .weibo-footer{
    padding: 10px 10px 0;
    border-top: 1px solid #eee;
    text-align: center;
}
.item-weibo .weibo-footer li{
    border-right: 1px solid #eee;
    width: 25%;
    float: left;
}
.item-weibo .weibo-footer a{
    color: #666;
    text-decoration: none;
}
.item-weibo .weibo-footer li:last-child{
    border-width: 0;
}
.item-weibo .weibo-footer .num{
    margin-left: 5px;
}
/* 微博评论 */
.item-weibo .weibo-comments{
    padding: 5px 10px;
    background-color: #f2f2f5;
}
.item-weibo .weibo-comments li{
    position: relative;
    padding-left: 50px;
    border-bottom: 1px solid #d9d9d9;
}
.weibo-comments .imghead{
    position: absolute;
    left: 5px;
    top:  0;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.weibo-comments .imghead img{
    width: 40px;
    height: 40px;
}