.panel-user{
	padding: 0 10px 10px 0;
}
.panel-user .user-content{
	background-color: #fff;
	padding: 10px 10px 10px 80px;
	position: relative;
}
.panel-user .btn-add-friend{
	position: absolute;
	right: 10px;
	top: 10px;
}
.user-content .headimg{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	left: 10px;
	top: 10px;
}
.user-content .headimg img{
	width: 60px;
	height: 60px;
}
.user-content h3{
	margin-top: 0;
}
.panel-user .user-tips{
	border-top: 1px solid #ccc;
	background-color: #fff;
}
.panel-user .user-tips li{
    width: 25%;
    text-align: center;
    border-right: 1px solid #ccc;
    float: left;
    padding: 5px 15px;
}
.panel-user .user-tips li:last-child{
    border-width: 0;
}
.panel-user .user-tips li a{
    text-decoration: none;
}
.panel-user .user-tips li span,
.panel-user .user-tips li strong{
    display: block;
    font-size: 14px;
    color: #666;
}
.panel-user .user-tips li span{
    font-size: 12px;
}