{% extends 'home/home_base.html' %}
{% import 'moudule/paginator.html' as paginator %}
{% block head_title %}
<title>用户详情</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}
{% block center_content %}
<!-- 用户基本信息 -->
<div class="panel-user">
  <div class="user-content clearfix">
      <div class="headimg">
        <img src="{{ url_for('static', filename='img/headimg.jpg') }}" alt="个人头像">
      </div>
      <div class="user-info">
        <h3>{{ user.nickname }}</h3>
        <p>这是一个伟大的签名</p>
      </div>
      <a href="javascript:;" class="btn btn-info btn-add-friend" data-id="{{ user.id }}">+关注</a>
  </div>
  <div class="user-tips">
    <ul class="list-unstyled list-inline clearfix">
      <li>
          <a href="#">
              <strong>168</strong>
              <span>关注</span>
          </a>
      </li>
      <li>
          <a href="#">
              <strong>168</strong>
              <span>粉丝</span>
          </a>
      </li>
      <li>
          <a href="#">
              <strong>168</strong>
              <span>微博</span>
          </a>
      </li>
      <li>
          <a href="#">
              <strong>168</strong>
              <span>收藏</span>
          </a>
      </li>
    </ul>
  </div>
</div>
<!-- 微博列表 -->
<div class="list-weibo">
    {% for weibo_obj in page_data.items %}
    <div class="item-weibo clearfix">
        <div class="weibo-top">
            <div class="weibo-left">
                <img src="{{ url_for('static', filename='img/headimg.jpg') }}" alt="个人头像">
            </div>
            <div class="weibo-right">
                <h6>{{ weibo_obj.user.nickname }}</h6>
                <small class="text-muted">{{ weibo_obj.created_at }} 来自360浏览器</small>
                <div class="weibo-content">
                    {{ weibo_obj.get_content()|safe }}
                </div>
            </div>
        </div>
        <div class="weibo-footer">
            <ul class="list-inline list-unstyled clearfix">
                <li><a href="#">收藏</a></li>
                <li><a href="#">转发</a><span class="num">23</span</li>
                <li><a href="#"><i class="glyphicon glyphicon-comment"></i></a><span class="num">23</span></li>
                <li><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i></a><span class="num">23</span</li>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
<!-- // 微博列表 -->
<!-- 分页 -->
{{ paginator.pagination(page_data, 'user_detail') }}
<!-- // 分页 -->
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
  $(function(){
    $('.btn-add-friend').on('click', function(){
      var _self = $(this);
      $.post(_self.attr('data-url'), function(rest){
        if(rest == '201'){
          alert('关注成功');
        }else if (rest='404'){
          alert('您已经关注该用户了')
        }else if(rest == '401'){
          alert('请先登录')
        }
      })
    })
  })
</script>
{% endblock %}