{% extends 'admin/admin_base.html' %}
{% import 'moudule/paginator.html' as paginator %}
{% block head_title %}
<title>用户管理</title>
{% endblock %}
<!-- 右侧内容 -->
{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('admin_index') }}">后台首页</a></li>
  <li class="active">用户管理</li>
</ol>
{% endblock %}
{% block right_content %}
<!-- 用户管理 -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>昵称</th>
      <th>用户名</th>
      <th>最后登录</th>
      <th>用户状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  {% for user_obj in page_data.items %}
    <tr>
      <td>{{ user_obj.id }}</td>
      <td>{{ user_obj.nickname }}</td>
      <td>{{ user_obj.username }}</td>
      <td>{{ user_obj.loast_login|default('', true) }}</td>
      <td>{{ user_obj.status.name }}</td>
      <td>
      {% if user_obj.status.name == 'LIMIT' %}
        <a class="btn btn-default" href="javascript:;" title="" data-url="{{ url_for('admin_manage_user', pk=user_obj.id, status=1) }}">取消限制</a>
      {% else %}
        <a class="btn btn-info" href="javascript:;" title="" data-url="{{ url_for('admin_manage_user', pk=user_obj.id, status=0) }}">限制登录</a>
      {% endif %}
        <a href="{{ url_for('admin_user_role', pk=user_obj.id) }}" title="">管理角色</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- // 用户管理 -->
<!-- 分页 -->
{{ paginator.pagination(page_data, 'admin_users') }}
<!-- // 分页 -->
{% endblock %}
{% block extrajs %}
<script>
  $(function(){
    $(".btn").on('click', function(){
      var _self = $(this);
      $.post(_self.attr('data-url'), function(rest){
        if (rest === '201'){
          _self.hide();
          alert('操作成功');
        }else if (rest === '401'){
          alert('请先登录')
        }else if(rest == '404'){
          alert('用户不存在')
        }
      })
    })
  })
</script>
{% endblock %}