<form class="form-weibo" role="form" method="post" action="{{ url_for('index') }}">
    <div class="form-inner clearfix">
        <div class="form-header clearfix">
            <span class="pull-left">有什么新鲜事告诉大家？</span>
            <span class="pull-right">已输入21字</span>
        </div>
        {{ form.content }}
        <ul class="text-danger">
            {% for err in form.content.errors %}
              <li>{{ err }}</li>
            {% endfor %}
        </ul>
        <div class="pull-right">
          {{ form.csrf_token }}
          {{ form.submit }}
      </div>
    </div>
</form>