<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SUEP-LAB120</title>

    <!-- Bootstrap core CSS -->

    <link href="./static/homepage/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="./static/homepage/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="./static/homepage/css/grayscale.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">SUEP LAB120</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="http://lab120.moonstarwisdow.com/door_system">智能门禁系统</a>
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="http://lab120.moonstarwisdow.com/admin/">智能考勤系统</a>
            </li>


            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="http://lab120.bigscreen.moonstarwisdow.com/">智能监测系统</a>
              </li> 
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="http://lab120.moonstarwisdow.com/strawberry">智能控制系统</a>
            </li>
 

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">关于我们</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">用户登录</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">联系我们</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">WELCOME TO CLOUD_LAB</h1>
              <p class="intro-text">这是一个神奇的地方.
                <br>这儿有许多有趣的人.</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>SUEP LAB120</h2>
            <p>可能你从来没来过这里，没感受过这里的情怀和爱，</p>
            <p>你不知道他们为什么欢笑不止，也不知道他们为什么在这儿不愿离去，</p>
            <p>集中所有的智慧，所有的热忱，把今天的工作做的尽善尽美，这是他们一直的工作态度，</p>
            <p>一群具有共同理想的人，他们是师生，也是朋友，他们一起谱写着各自的青春...</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="download-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>点击进入SUEP LAB120的世界</h2>
          <a href="../user/login" class="btn btn-default btn-lg">用户登录</a>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>联系我们</h2>
            <p>微信公众号：智能电子实验室SUEP</p>
            <p>邮箱：jc.leehom@gmail.com</p>
          </div>
        </div>
      </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="./static/homepage/vendor/jquery/jquery.min.js"></script>
    <script src="./static/homepage/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="./static/homepage/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="./static/homepage/js/grayscale.min.js"></script>

  </body>

</html>
